.container{
	background-color: unset;
	min-width: 60px;
	display: flex;
	flex-direction: column;
  align-items: flex-start;
	z-index: 1;
  gap:15px;
	
}

.button{
	height: 40px;
	width: 40px;
	margin: 2px 0;
	border: 0;
	background-color: unset;
	position: relative;

	display: flex;
	flex-direction: row;
	align-items: center;

}


.link{
	display: flex;
	flex-direction: row;

}

.block{
	height: 100%;
	width: 5px;

}
.block_img{
	height: 100%;
	width: 100%;
	background-color: var(--color-bg);
}

.svg {
  margin-left: 10px;
  height: 35px;
  width: 35px;
  fill: var(--color-auf-lite);
  svg {
    transition: 0.4s;
    &:hover {
      fill: var(--color-label);
    }
  }
}